@import "tailwindcss";
@import "./leaflet.css";

@theme {
  --font-display: var(--font-ibm-plex-sans-arabic);
  --font-sans: var(--font-ibm-plex-sans-arabic);

  --color-saudi-green: #004d35;
  --color-saudi-gold: #d4af37;
  --color-saudi-gold-light: #e6c35c;
  --color-saudi-gold-dark: #b08d26;
  --color-saudi-green-dark: #003323;
  --color-saudi-green-light: #006647;
}

:root {
  --background: #f8fafc;
  /* Slate 50 */
  --foreground: #0f172a;
  /* Slate 900 */
}

/* Enforcing Light Mode by overriding dark preference */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans-arabic), sans-serif;
}

/* Leaflet Customizations */
/* Leaflet Customizations */
.leaflet-interactive:focus,
.leaflet-container:focus,
.leaflet-marker-icon:focus,
.leaflet-marker-shadow:focus,
path.leaflet-interactive:focus,
svg:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Remove Leaflet Tooltip Arrow */
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before,
.custom-tooltip:before,
.custom-tooltip:after {
  display: none !important;
  border: none !important;
  content: none !important;
}

.custom-tooltip {
  background-color: rgba(255, 255, 255, 0.98) !important;
  border: 1px solid #e2e8f0 !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem 0.75rem !important;
  font-family: var(--font-ibm-plex-sans-arabic);
  color: #1e293b !important;
  white-space: nowrap;
  margin-bottom: 0 !important;
}